[*.cs]

# CS8632: The annotation for nullable reference types should only be used in code within a '#nullable' annotations context.
dotnet_diagnostic.CS8632.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none
